# My Assignment

Introduction to Jupyter Notebook and Data Science

## Data Science Languages

- Python
- R
- Julia
- Java

## Data Science Libraries

- Pandas
- NumPy
- Matplotlib
- Seaborn
- TensorFlow

#Data Science Tools

<table>
    <tr>
        <td>Jupyter</td>
    </tr>
    <tr>
        <td>TensorFlow</td>
    </tr>
    <tr>
        <td>Tableau</td>
    </tr>
    <tr>
        <td>SQL Server</td>
    </tr>
    <tr>
        <td>Git</td>
    </tr>
     <tr>
        <td>Power BI</td>
    </tr>
</table>

## Arithmetic Expression Examples are shown below to multiply and add

In [8]:
a = 10
b = 5
add = a + b  # Addition
mult = a * b  # Multiplication


print(f"Addition: {add}")
print(f"Multiplication: {mult}")

Addition: 15
Multiplication: 50

In [ ]:
#converting minutes to  hours
minutes = 150
hours = minutes / 60
print(f"{minutes} minutes is equal to {hours} hours")

150 minutes is equal to 2.5 hours

## Objectives

1. Learn data science
2. Implement it practically

My name is Siri